/* (A) WRAPPER */
#quizWrap {
    max-width: 600px;
    margin: 0 auto;
    /* RECOMMENDED FIXED HEIGHT IF YOU HAVE CONTENT BELOW THE QUIZ */
    /* SO THAT PAGE LAYOUT DOES NOT "JUMP" */
    /* height: 250px; */
}
  /* (B) QUESTION */
  #quizQn {
    padding: 20px;
    background: #303436;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}
  /* (C) ANSWERS */
  #quizAns {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }

  #quizAns input[type=radio] { display: none; }
  #quizAns label {
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
  }
  #quizAns label.correct {
    background: #d8ffc4;
    border: 1px solid #41c002;
  }
  #quizAns label.wrong {
    background: #ffe8e8;
    border: 1px solid #ff0000;
}
/* (X) DOES NOT MATTER - COSMETICS */ /* PAGE & BODY */
*{
    font-family: arial, sans-serif;
    box-sizing: border-box;
  }

  body {
    display: flex;
    align-items: center; justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(rgba(13, 13, 13, 0.356), rgba(255, 255, 255, 0.1)), url(user-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.76);
}

/* WIDGET */
  .widget-wrap {
    width: 600px;
    padding: 30px;
    border-radius: 20px;
    
}
  /* FOOTER */
  #code-boxx {
    font-weight: 600;
    margin-top: 30px;
  }
  #code-boxx a {
    display: inline-block;
    border: 0;
    padding: 5px;
    text-decoration: none;
    background: #b90a0a;
    color: #fff;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}
 
p{
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6%;
  z-index: 100000;
  background-color: #fff;
  padding: 10px 100px;
}

header.sticky {
  padding: 5px 100px;
  background: #ffffffc4;
}

header .Logo {
  position: relative;
  font-weight: 700;
  color: black;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}


header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 3 15px;
  text-decoration: none;
  color: black;
  letter-spacing: 10px;
  font-weight: 500px;
  transition: 0.6s;
  border: #fff;
}


header.sticky .Logo,
header.sticky ul li a {
    color: #000000e2;
}

.sidebar {
    width: 190px;
    top: 2px;
    position: fixed;
    z-index: 2;
    bottom: 0px;
    left: 0;
    background-color: #000000c9;
    overflow-x:hidden;
    height: 100vh;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  text-align: center;
}